.rootContainer {
  align-items: center;
  background: #333;
  color: white;
  display: flex;
  font-size: 1.5rem;
  height: 48px;
  padding: 0 1rem;
}

.icon {
  width: 32px;
  margin-right: 0.5rem;
}

.title {
  flex: 1;
}

.coffeeImgContainer {
  border-radius: 5px;
  display: inline-flex;
  margin-right: 1rem;
  overflow: hidden;
}

.coffeeImg {
  width: 130px;
}

.githubImgContainer {
  height: 30px;
}

.githubImg {
  height: 100%;
}
